.hu-control {
  display: inline-block;
  position: absolute;
  left: 200px;
  bottom: 5px;
  border-radius: 15px 50px;
  z-index: 100000;
}

.hu-badge {
  position: relative;
  top: -3px;
  width: 15px;
  height: 15px;
  display: inline-block;

  font-size: 11px;
  text-align: center;
  font-weight: bold;

  background-color: #ffffff;
  color: black;

  margin-right: 2px;
  border-radius: 100%;

  animation-name: redPulse;
  -webkit-animation-name: redPulse;

  -webkit-animation-duration: 2s;
  animation-duration: 2s;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes redPulse {
  from {
    background-color: #e20000;
  }
  50% {
    background-color: #ffa09c;
  }
  to {
    background-color: #e20000;
  }
}

.hu-icon {
  border: 1px solid rgb(0, 0, 0);
  align-items: center;
  padding: 4px;
  width: 200px;
  background-color: #fea974;
}

.hu-icon-open {
  background: rgb(255, 117, 43);
  color: white;
}

.hu-window {
  position: fixed;
  bottom: 29px;
  left: 200px;
  width: 250px;
  height: 300px;

  background: #6a91fa;
  border: 1px solid rgb(0, 0, 0);
  z-index: 4000;
  display: flex;
  flex-direction: column;
}

.hu-window-title {
  text-align: center;

  border: 1px solid lightgray;
  color: lightgray;

  background-color: #333;
  font-size: 11px;
  line-height: 20px;
  height: 20px;
  text-shadow: 0 -1px 0 #000;
}

.hu-window-close {
  float: right;
  margin: 4px 4px 0 0;
  cursor: pointer;
}

.hu-window-close:hover {
  color: red;
}

.hu-messages {
  background: #f9f7f7;
  flex: 1;
  overflow: auto;
}

.hu-time {
  float: right;
  font-size: 12px;
}

.hu-user {
  font-size: 12px;
}

.hu-message {
  border-left: 3px solid;
  padding: 0 5px 0 5px;
  border-bottom: 1px solid lightgrey;
  background-color: #f9f7f7;
  font-size: 13px;
}

.hu-input {
  width: 240px;
  padding: 5px;
  z-index: 4000;
  border-style: solid none none none;
  border-width: 1px;
  border-color: rgb(31, 31, 31);
  border: radius 1px;
}

.hu-input:focus {
  outline: none;
}
