.share-controls {
  display: inline-block;
  float: right;
  margin-right: 50px;
  width: 140px;
  background-color: #5eb805;

}

.share-controls i {
  font-size: 16px;
  margin-top: 4px;
  background-color: #5eb805;
}
